.tasks {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin: 6rem 0 0 0;
}

.addingTasks {
    width: 308px;
    height: 63px;
    background-color: var(--arathi-highlands);
    border-radius: var(--card-curve-small);
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.addingTasksTitle {
    margin: 0 0 0 auto;
    z-index: 0;
}

.addingTasksHighlight {
    width: 55px;
    height: 4px;
    margin: 4px;
    background-color: var(--seashell);
    position: absolute;
    border-radius: var(--card-curve-small);
}

.addingTasksInputField {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
}

.inputTask {
    width: 233px;
    height: 34px;
    border-radius: var(--card-curve-small);
    z-index: 100;
    border: none;
}

.inputTask::placeholder {
    font-family: var(--paragraph-style);
    text-indent: 1rem;
}

.submittingTasks {
    width: 96px;
    height: 48px;
    background-color: var(--flush-orange);
    border-radius: var(--card-curve-small);
    margin: 0 0 0 auto;
    display: flex;
    justify-content: flex-end;
}

.submittingTasksIcon {
    margin: auto;
}

.taskList {
    width: 308px;
    height: 68px;
    background-color: var(--seashell);
    box-shadow: 0px 1px 4.4px 0px rgba(14, 13, 13, 0.25);
    display: flex;
    flex-direction: column;
}

.taskListTitle {
    margin: 0 0 0 0.5rem;
}