.progressContainer {
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pondImage {
    margin-bottom: 20px;
}


.nextButton {
    width: 203px;
    height: 37px;
    padding: none;
    font-size: var(--h4);
    background-color: var(--arathi-highlands);
    color: var(--seashell);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.nextButton:hover {
    background-color: var(--flush-orange);
}