.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 430px;
}

.pondImage {
    margin-bottom: 20px;
    margin-top: -150px;
}


.duckContainer{
    display: flex;
    /* margin-bottom: 4rem; */
}

.duckImage{

}

.duckInstructions{
    width: 150px;
}

.nameContainer{
    width: 308px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* this will change when there is an enter button */

    margin-top: 4rem;

    background-color: var(--button-blue);
    border-radius: 8px;
    margin-bottom: 8rem;
}
.nameInput{
    width: 222.723px;
    height: 33px;
    border-radius: 8px;
    background: var(--Wireframe-White, #FFFDFA);
}
.instructionContainer{
    /* margin-bottom: 4rem; */
}

.WaddleContainer{
    width: 320px;
    text-align: center;
}

.ducksFloat{
    height: 180px;
}

.wadBold{
    font-weight: bold;
}

.floatContainer {
    margin-top: 2rem;
    width: 308px;
    height: 180px;
    background-color: #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: var(--card-curve-small);
  }
  
.floatHole {
    background-color: transparent;
    margin-top: -130px;
}

.breakPopup{
    left: -200px;
}

.placeholder{
    width: 351px;
    height: 220px;
}

.nextButton {
    position: absolute;
    top: 743px;
    bottom: 132px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 37px;
    padding: none;
    font-size: var(--h4);
    background-color: var(--arathi-highlands);
    color: var(--seashell);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;

    text-decoration: none;
}
.nextButton{
    box-shadow: 1px 3px 5px grey;
}

.nextButton:hover {
    background-color: var(--flush-orange);
}

.buttonsContainer {
    height: 10vh;
    width: 430px;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.skipContainer{
    text-decoration: none;
}

.skipButton .link:link { 
    text-decoration: none; 
    color: var(--gray5);
  } 
  .skipButton .link:visited { 
    text-decoration: none; 
  } 
  .skipButton .link:hover { 
    text-decoration: none; 
  } 
  .skipButton .link:active { 
    text-decoration: none; 
  }


.skipButton:hover{
    background-color: var(--arathi-highlands);
}


.skipButton{
    width: 158px;
    height: 30px;

    /* display: flex;
    justify-content: center;
     */
    margin: auto;
    background-color: none;
    border: 3px solid var(--arathi-highlands);
    color: var(--gray5);
    border-radius: 30px;

    text-decoration: none;
}

.backButton{
    height: 36px;
    width: 45px;

    margin: 0 16rem 0 0;
    border: 2px solid var(--button-blue);
    background-color: var(--seashell);
    border-radius: 8px;

    box-shadow: 1px 3px 5px 1px grey;

    color: var(--button-blue);
}

.backButton:hover{
    background-color: var(--button-blue);
    color: black;
    border: none;
}

/*Conditionallly Displayed Elements*/

.tasksPosition {
    overflow: hidden;
    width: 430px;
    height: 350px;
}

.cycleCompleteContainer {
    width: 308px;
    background-color: var(--seashell);
    box-shadow: 0px 1px 4.4px 0px var(--arathi-highlands);
    border-radius: var(--card-curve-small);
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

}

.cycleCompleteHeader {
    margin: 0;
    text-align: center;
}

.ducksAnim {
    overflow: hidden;
    margin: auto;
}

@media screen and (min-width: 431px) {
    .buttonsContainer {
        bottom: 16rem;
    }
}