.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pondImage {
    margin-bottom: 20px;
    margin-top: -150px;
}


.duckContainer{
    display: flex;
    margin-bottom: 4rem;
}

.duckImage{

}

.duckInstructions{
    width: 150px;
}

.nameContainer{
    width: 308px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* this will change when there is an enter button */

    background-color: var(--button-blue);
    border-radius: 8px;
}
.nameInput{
    width: 222.723px;
    height: 33px;
    border-radius: 8px;
    background: var(--Wireframe-White, #FFFDFA);
}
.instructionContainer{
    margin-bottom: 4rem;
}

.WaddleContainer{
    width: 320px;
    text-align: center;
}

.wadBold{
    font-weight: bold;
}

.placeholder{
    width: 351px;
    height: 220px;
}

.nextButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 37px;
    padding: none;
    font-size: var(--h4);
    background-color: var(--arathi-highlands);
    color: var(--seashell);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;

    text-decoration: none;
}
.nextButton{
    box-shadow: 1px 3px 5px grey;
}

.nextButton:hover {
    background-color: var(--flush-orange);
}

.skipContainer{
    text-decoration: none;
}

.skipButton{
    width: 158px;
    height: 30px;

    margin-top: 20px;

    background-color: none;
    border: 3px solid var(--arathi-highlands);
    border-radius: 30px;

    text-decoration: none;
}

.skipButton .link:link { 
    text-decoration: none; 
  } 
  .skipButton .link:visited { 
    text-decoration: none; 
  } 
  .skipButton .link:hover { 
    text-decoration: none; 
  } 
  .skipButton .link:active { 
    text-decoration: none; 
  }


.skipButton:hover{
    background-color: var(--arathi-highlands);
}

.backButton{
    height: 36px;
    width: 45px;

    position: relative;
    top:20px;
    right: 175px;

    border: 2px solid var(--button-blue);
    background-color: var(--seashell);
    border-radius: 8px;

    box-shadow: 1px 3px 5px 1px grey;
    
    color: var(--button-blue);
}

.backButton:hover{
    background-color: var(--button-blue);
    color: black;
    border: none;
}