.pomodoroContainer {
    display: grid;
    grid-template-rows: repeat(2, 8rem);
}

.pomodoro {
    width: 308px;
    height: 60px;
    background-color: var(--flush-orange);
    border-radius: var(--card-curve-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto auto;
}

.highlight {
    width: 118.345px;
    height: 5px;
    border-radius: var(--card-curve-small);
    background-color: var(--seashell);
    mix-blend-mode: screen;
    z-index: 0;
    margin: 4px auto 4px 4px;
}

.timer {
    font-family: var(--header-style);
    font-size: var(--h2);
    color: var(--seashell);
}

.playButton {
    width: 430px;
    z-index: 10;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 20rem;
}

.button {
    animation: buttonTransition 0.5s;
    transition: transform 0.5s;
}

.button:hover {
    transform: scale(1.2, 1.2);
}

@keyframes buttonTransition {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}