.pomodoroContainer {
    display: grid;
    grid-template-rows: repeat(10, auto);
    position: relative;

    top: -25px;
    margin-bottom: -25px;
}

.pomodoro {
    width: 308px;
    height: 60px;
    background-color: var(--flush-orange);
    border-radius: var(--card-curve-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto auto;

    filter: drop-shadow(0 0.2rem 0.1rem var(--gray5));
}

.highlight {
    width: 118.345px;
    height: 5px;
    border-radius: var(--card-curve-small);
    background-color: var(--seashell);
    mix-blend-mode: screen;
    z-index: 0;
    margin: 4px auto 4px 4px;
}

.timer {
    font-family: var(--header-style);
    font-size: var(--h2);
    color: var(--seashell);
}

.cycleButton {
    color: var(--seashell);
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 205.03px;
    height: 36px;

    background-color: var(--arathi-highlands);
    border-radius: var(--card-curve-small);
    box-shadow: 0px 1px 4.4px 0px var(--arathi-highlands);
    margin: 0.2rem auto;

    text-decoration: none;
    font-family: var(--header-style);
    transition: transform 0.5s, background-color 0.5s;
}

.cycleButton:active {
    transform: scale(110%);
    background-color: var(--flush-orange);
}

.playButton {
    bottom: 0;
    margin-left: 10rem;
    margin-top: 0.5rem;
}

.button {
    animation: buttonTransition 0.5s;
    transition: transform 0.5s;

    position: absolute;
    z-index: 5;
    margin: auto;
}

.button:hover {
    transform: scale(1.2, 1.2);
}

@keyframes buttonTransition {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}