 .profileContainer {
     width: 430px;
     height: 100vh;
     position: absolute;
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 1000;
     margin-top: auto;
     overflow: hidden;
     animation: fadeIn 0.2s;
 }

 .profileContent {
     width: 430px;
     height: 500px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     margin-top: auto;
     background-color: var(--seashell);
     filter: drop-shadow(0 1rem 5rem var(--arathi-highlands));
     border-radius: 20px 20px 0 0;
 }

 .profileName {
     margin: 0.8rem;
     text-align: left;
 }

 .breakLine {
     height: 2px;
     width: 400px;
     background-color: var(--gray5);
     border-radius: var(--card-curve-small);
 }

 .profileHeading {
    width: 300px;
    margin: 0.8rem;
 }

 .profileNumber{
    margin: 0.8rem;
 }
 .exit {
     position: absolute;
     bottom: 2rem;
     right: 0;
     width: 87px;
     height: 38px;
     border-radius: 8px 0px 0px 8px;
     background-color: var(--arathi-highlands);
     color: var(--seashell);
     text-align: left;
     display: flex;
     align-items: center;
     justify-content: left;
 }

 .exit h4 {
     margin: 0 0 0 1rem;
 }

 @keyframes fadeIn {
     0% {
         opacity: 0;
         transform: translateY(100px);
     }

     100% {
         opacity: 1;
         transform: translateY(0px);
     }
 }