 .profileContainer {
     width: 90vw;
     height: 90vh;
     background-color: var(--seashell);
     margin: auto;
     position: absolute;
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 5;
     filter: drop-shadow(0 0 0.75rem var(--gray5));
     border-radius: var(--card-curve-small);
 }