 .profileContainer {
    width: 422px;
    height: 882px;
     background-color: var(--seashell);
     position: absolute;
     top: 5rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 5;
     filter: drop-shadow(0 0 20rem var(--gray5));
     border-radius: var(--card-curve-small);
 }