.navBarContainer {
    display: flex;
    align-items: center;
    width: 100vw;
    position: fixed;
    bottom: 0;

}

.navBarItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 414px;
    height: 69px;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--arathi-highlands);
    color: var(--seashell);
}

.profile:hover {
    cursor: pointer;
}

.settings:hover {
    cursor: pointer;
}