.landedContainer {
    margin: auto;
}

.animationContainer {
    width: 80%;
}

.landLogo {
    width: 430px;
    height: 100vh;
    z-index: 5;

    background-image: linear-gradient(var(--seashell), var(--button-blue));
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.landingLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: var(--seashell);
    border-radius: var(--card-curve-small);
    padding: 5rem 0 5rem 0;

    filter: drop-shadow(0 0.2rem 0.5rem var(--button-blue))
}

.logo {
    position: relative;
}

.linkLand:link {
    text-decoration: none;
    font-family: var(--header-style);
}

.linkLand .link:visited {
    text-decoration: none;
    color: var(--seashell);

}

.linkLand .link:hover {
    text-decoration: none;
    color: var(--seashell);

}

.linkLand .link:active {
    text-decoration: none;
    color: var(--seashell);

}

.pomDesc {
    position: relative;
    margin-top: 6rem;
    font-size: var(--h4);
    height: 5rem;
    color: var(--gray5);
}

.getStart {
    width: 241px;
    height: 58px;

    border-radius: 8px;
    border: none;

    background-color: var(--arathi-highlands);

    font-size: var(--h4);
    color: var(--seashell);
    display: flex;
    justify-content: center;
    align-items: center;
}

.getOut {
    width: 158px;
    height: 30px;

    margin-top: 25px;
    border-radius: 30px;
    border: 3px solid var(--arathi-highlands);

    font-size: var(--body-copy);
    background-color: var(--seashell);
    color: var(--gray5);

    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:431px) {
    .landingLogoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}