@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.buttonNext{
    background-color:var(--arathi-highlands);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'fredoka';
    font-size: var(--h3);
    padding: 1.5rem 5rem;
    box-shadow: 0px 1px 2px 1px var(--arathi-highlands);
    text-align: center;
    line-height: 10px;
    color: var(--seashell);
    border-radius: var(--card-curve-small);
}

.buttonNext:active{
    box-shadow: none;
}


@media screen and (min-width: 431px) {
    .buttonNext{
        margin-top: 5rem;
    }
}