.settingsPosition {
    width: 430px;
    height: 100vh;
    position: absolute;
    animation: fadeIn 0.2s;
    z-index: 1000;
    overflow: hidden;
}

.settingsContainer {
    padding: 10px;
    height: 100vh;
    background-color: var(--seashell);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    right: 0;
    filter: drop-shadow(0 0.2rem 20rem var(--arathi-highlands));
}

.option {
    width: 193px;
    height: 37px;
    border: none;
    border-radius: var(--card-curve-small);
    background: var(--flush-orange);
    color: var(--seashell);
    font-family: var(--paragraph-style);
    display: flex;
    justify-content:center ;
    align-items: center;
    margin: 0.5rem;

    text-decoration: none; 
}

.textButton{
    display: flex;
    align-items: center;
}

.link {
    margin-top: auto;
}

.exit {
    bottom: 2rem;
    right: 0;
    margin: 1rem 0 1rem auto;
    width: 87px;
    height: 38px;
    border-radius: 8px 0px 0px 8px;
    background-color: var(--arathi-highlands);
    color: var(--seashell);
    text-align: left;
    text-indent: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.exit h4 {
    color: var(--seashell);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}