.settingsContainer {
    width: 400px;
    height: 882px;
    background-color: var(--seashell);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
    filter: drop-shadow(0 0 1rem var(--gray5));
    border-radius: var(--card-curve-small);
    margin-top: 1rem;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}