.buttonNext{
    background-color:var(--flush-orange);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: var(--h5);
    width: 67px;
    height: 56px;
    box-shadow: 0px 2px 3px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonNext:active{
    box-shadow: none;
}
