@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question {
    font-family: var(--header-style);
    font-size: var(--h3);
    font-weight: bold;
    width: 21rem;
    margin: 5rem 0 2rem 0;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.optionButt {
    width: 308px;
    height: 50px;
    background-color: var(--arathi-highlands);
    border: none;
    border-radius: var(--card-curve-small);
    font-family: 'lexend';
    font-size: var(--h6);
    box-shadow: 0px 1px 3px 1px var(--arathi-highlands);
    color: var(--seashell);
}

.optionButt:active {
    box-shadow: none;
    border: none;
}

.line {
    width: 200px;
    height: 0.2rem;

    background-color: var(--seashell);
    z-index: 1000;
    border-radius: var(--card-curve-small);
}


@media screen and (min-width:431px) {
    .questionContainer {
        margin-top: 5rem;
    }
}