.animationContainer {
    position: relative;
    
    top: -200px; 
    margin-bottom: -200px; /* These two counteract and make the doc flow normal*/

    overflow: hidden;
    width: 430px;
    height: 470px;
  
    border-radius: 0 0 8px 8px;
  }