@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.summaryOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-color: var(--seashell);
  }

.duck{
    width:145px;
    height:154px;
    border:1px solid black;
    border-radius: 50%;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top:670px;
}

.buttonSpacer{
    height:17px;
}

  .homeButton{
    position: absolute;
    top:10px;
    left:20px;
  }

.navBarDummy{
    position: absolute;
    border:1px solid black;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    width: 414px;
    height: 69px;
    bottom:0;
}

.duckInfo{
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    background: linear-gradient(var(--arathi-highlands)20%,var(--seashell)100%);
    width: 100vw;
    height:634px;
    position:absolute;
    top:298px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mallardName{
    font-family: 'fredoka';
    font-size:var(--h1);
    margin-bottom: 12px;
    margin-top: 5px;
    font-weight: 450;
}

.features{
    font-family: 'fredoka';
    font-size:var(--h4);
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 450;
}
.featuresList{
    font-family: 'fredoka';
    font-size:16px;
    list-style: none;
    text-align: center;
    margin-top: 5px;
    padding: 0; 
}

.description{
    font-family: 'fredoka';
    font-size:var(--h3);
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 450;
}

.descriptionPar{
    font-family: 'fredoka';
    font-size:16px;
    margin-top: 0;
    text-align: center;
    width: 300px;
    margin-top: 5px; 
}


.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:20px;
}

.title{
    font-size: var(--h6);
    margin:0;
    font-family: 'fredoka';
    font-weight: 450;
}

.duckName{
    font-size: var(--h4);
    font-family: 'fredoka';
    margin:5px;
    font-weight: 500;
}