@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.summaryOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

.contentContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 932px;
    min-height: 100vh;
    overflow:hidden;
}

.infoContainer{
    width:432px;
    height:602px;
    padding-top: 90px;
    margin-right: 500px;
    display: flex;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 38px;
}

.buttonSpacer{
    height:17px;
}

  .homeButton{
        z-index: 1;
        margin: 20px auto 0 20px;
  }


  .duckInfo{
    width: 148px;
    height:167px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top:200px;
}

.features{
    font-family: 'lexend';
    font-size:var(--h4);
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: left;
}
.featuresList{
    width:700px;
    font-family: 'lexend';
    font-size:16pt;
    list-style: none;
    text-align: left;
    margin-top: 5px;
    padding: 0;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards; 
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:20px;
}

.title{
    font-size: var(--h2);
    padding-top:10px;
    margin:0;
    font-family: 'lexend';
    font-weight: 450;
}

.duckName{
    font-size: var(--h2);
    font-family: 'lexend';
    margin:5px;
    font-weight: 500;
}
.titleContainer, .duckName, .features, .duck img {
    opacity:0;
    animation: bounceUp 1s ease-in-out forwards;
}

@keyframes bounceUp {
    0% {
        opacity:0;
        transform:translateY(20px);
    }
    50% {
        opacity:1;
        transform:translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}