.main {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 430px;
    height: 932px;
    margin: auto;
  }

  .duckAnimationTimer {
    display: flex;
    justify-content: center;
  }
  
