.main {
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .phoneContainer {
    display: grid;
    width: 430px;
    height: 932px;
    margin: auto;
  }

  .duckAnimationTimer {
    display: flex;
    justify-content: center;
  }
  
