.timer {
    width: 308px;
    height: 60px;
    background-color: var(--flush-orange);
    border-radius: var(--card-curve-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: var(--header-style);
    font-size: var(--h2);
    color: var(--seashell);
    z-index: 1;
    position: absolute;
}

.highlightOne {
    width: 118.345px;
    height: 5px;
    border-radius: var(--card-curve-small);
    background-color: rgba(254, 251, 249, 0.50);
    mix-blend-mode: screen;
    z-index: 0;
    margin: 4px auto 4px 4px;
}

.highlightTwo {
    width: 48.552px;
    height: 5px;
    border-radius: var(--card-curve-small);
    background-color: rgba(254, 251, 249, 0.50);
    mix-blend-mode: screen;
    z-index: 0;
    margin: 0 auto 4px 4px;
}

.shadow {
    width: 286.759px;
    height: 5px;
    background-color: rgba(14, 13, 13, 0.50);
    ;
    mix-blend-mode: darken;
    z-index: 0;
    margin: auto auto 4px;
}